html,body {
	text-align: center;
	margin: 0; padding: 0;
	font-family: Georgia;
	background: rgba(222,222,222,1);
	height: 100%;
}

#map { width: 100%; height: 100%; }
#cover {
	display:block; position:absolute; top:0; bottom:0; left:0; right:0;
	background: url(/static/projects/altug_firarda/img/cover.png) no-repeat center center fixed;
	opacity: 1;
	pointer-events: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header{
	position: absolute;
	top: 0px;
	left: 70px;
	width: 270px;
	height: 100%;
	text-align: left;
	pointer-events: none;
}

#header a {
	text-decoration: none;
	pointer-events: auto;
	color: rgba(252,187,174,1);
	font-size: 13px;
}

#header #milestone {
	color: #fff;
	font-size: 13px;
	font-family: Helvetica, Arial, Sans-serif;
	font-style: italic;
}

#header #milestone h3{
	margin: 20px auto 2px auto;
	max-width: 700px;
}

#header #milestone p{
	margin: 20px auto 2px auto;
	max-width: 700px;
}

#header #milestone span {
	color: rgba(200,200,200,1);
	font-size: 13px;
	text-transform:capitalize;
}

#header #milestone #text-sources{
	font-size: 13px;
}

#header #milestone #text-description {
	background: #fff;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;
}

.Embed{padding:16px 8px 8px 8px}
.EmbedCaption{display:block;margin-bottom:0;padding:0 4px;word-wrap:break-word;font-size:12px;line-height:15px;color:#000}

#header #milestone #text-sources a:hover{
	color: rgba(255,255,255,0.5);
}


#footer {
	position: relative;
	bottom: 0;
	top: 10px;
	width: 100%;
	height: 70px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-family: Helvetica, Arial, Sans-serif;
	font-style: italic;
}

#buttons ul{
		
	margin: 0 0 1px 0px;
}

#buttons ul li{
	list-style: none;
	display: inline-block;
	margin: 0;
}

#buttons ul li a {
	display: block;
	width: 32px;
	height: 22px;
	pointer-events: auto;
	border-radius: 4px;
	background:#666;
	padding: 6px 4px 0 4px;
	color: rgba(200,200,200,1)

}

#buttons ul li a:hover{
	background:#777;
}

#buttons ul li a.prev {
	/*
	background: url(../../img/altug_firarda/arrows.png) no-repeat 0 0;
	margin: 0 16px 0 0;
	*/
}

#buttons ul li a.next {
	/*
	background: url(../../img/altug_firarda/arrows.png) no-repeat -38px 0;
	*/
}

.control {
	padding-top:4px;
	text-align:center;
	margin:auto;
}

#languageselector ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#languageselector ul li { display: inline; margin-left:-10px}

#languageselector ul li a
{
text-decoration: none;
}

#languageselector ul li a:hover
{
opacity: .7
}



