{% extends '_base.html' %}

{% block head_css_extra %}
<!-- Supersized -->
<link href="{{ STATIC_URL }}css/supersized.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<!--
<link href="{{ STATIC_URL }}css/shortcodes.css" rel="stylesheet">
-->

<!-- Responsive -->
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">
{% endblock %}

{% block home_slider %}
	<!-- Homepage Slider -->
	<div id="home-slider">
		<div class="overlay"></div>
		<div class="slider-text">

			<!-- <img style="margin-top:-70px;" height="70px" width="70px" src="{{ STATIC_URL }}img/logo/logo.png"/> -->
			<div id="slidecaption"><div class="slide-content">Aykut Simsek</div></div>
			<div id="social-area">
				<nav id="social">
					<ul>
						<li><a href="https://github.com/aykutsimseks" title="Follow Me on Github" target="_blank"><span class="font-icon-social-github"></span></a></li>
						<li><a href="https://twitter.com/aykutsimseks" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/aykutsimseks" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
						<li><a href="https://www.linkedin.com/pub/aykut-simsek/38/b70/27" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
						<li><a href="mailto:aykutsimseks@gmail.com" title="Email Me" target="_blank"><span class="font-icon-email"></span></a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="control-nav">
			<!--
			<a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
			<a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
			<ul id="slide-list"></ul>
			-->
			<a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
		</div>
	</div>
	<!-- End Homepage Slider -->
{% endblock %}

{% block content %} 
<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Work</h2>
                    <!--
                    <h3 class="title-description">...</h3>
                    -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span12">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<!-- <li class="type-work"></li> -->
                        <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                        <li><a href="#filter" data-option-value=".maps">Maps</a></li>
                        <li><a href="#filter" data-option-value=".visualization">Visualization</a></li>
                        <li><a href="#filter" data-option-value=".data">Data</a></li>
                        <li><a href="#filter" data-option-value=".misc">Misc</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="span12">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                    		<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span4 data misc">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" target="_blank" href="{% url 'moviera' %}">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"></br>Moviera</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/moviera-thumb.jpg" alt="Browsing and exploring movies, never been easier.">
                            </li>
                        	<!-- End Item Project -->

                    		<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span4 maps visualization">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" target="_blank" href="{% url 'altug_firarda' %}?l=en">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"></br>Altug Firarda</span>
                                </a>
                                <!-- Thumb Image and Description -->

                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/altug-firarda-thumb.jpg" alt="A visual diary of my brother's travels.">
                            </li>
                            <!-- End Item Project -->
                            
                            <!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span4 maps visualization">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" target="_blank" href="http://data.ci.newark.nj.us/base/maps/snowplows.html">
                                
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"></br>Newark Snow Plow Trucks</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/newark-snowplows-thumb.jpg" alt="A Day for Newark Snow Plow Trucks.">
                            </li>
                        	<!-- End Item Project -->
                            
                            <!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span4 maps visualization">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" target="_blank" href="http://www.civicdashboards.com/project/roof-piano">
                                
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"></br>Roof Piano</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/roofpiano-thumb.jpg" alt="A Sonification & Visualization project, using NYC building footprint data.">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	
                        	
							<!--
                        	<li class="item-thumbs span4 maps">
                            	 <a class="hover-wrap fancybox" data-fancybox-group="gallery" target="_blank" href="{% url 'world_bank_indicators' %}">
                                
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb"></br>World Bank Indicators</span>
                                </a>

                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/world-bank-indicators-thumb.jpg" alt="Comparing World Bank Indicators">
                            </li>

                        	<li class="item-thumbs span4 visualization">
                            	 <a class="hover-wrap fancybox" data-fancybox-group="gallery"  target="_blank" href="{% url 'aid_indicators' %}">
                                    <span class="overlay-img-thumb"></br>International Aid Indicators</span>
                                </a>
                                <img src="{{ STATIC_URL }}img/homepage/work/thumbs/aid-indicators-thumb.jpg" alt="Comparing International Aid Amount with World Bank Indicators (needs fine tuning)">
                            </li>
							-->

                        </ul>
                    </section>
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->


<!-- Footer -->
<footer>
	<p class="credits" style='text-transform:none'>&copy;2015 Aykut Simsek</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->
{% endblock %}


 {% block body_javascript_extra %}
 <!-- Js -->
<script src="{{ STATIC_URL }}js/jquery.2.1.1.min.js"></script> <!-- Jquery -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="{{ STATIC_URL }}js/waypoints.js"></script> <!-- Bootstrap -->
<script src="{{ STATIC_URL }}js/jquery.isotope.js"></script> <!-- Bootstrap -->
<script src="{{ STATIC_URL }}js/waypoints-sticky.js"></script> <!-- Bootstrap -->
<!-- <script src="{{ STATIC_URL }}js/supersized.3.2.7.min.js"></script> --><!-- Slider -->
<script src="{{ STATIC_URL }}js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{{ STATIC_URL }}js/main.js"></script> <!-- Default JS -->
<!-- End Js -->
 {% endblock %}