<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Aykut Simsek</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="{{ STATIC_URL }}css/supersized.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="{{ STATIC_URL }}css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="{{ STATIC_URL }}css/supersized.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="{{ STATIC_URL }}js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    	<div id="social-area">
            <nav id="social">
                <ul>
                	<li><a href="https://github.com/aykutsimseks" title="Follow Me on Github" target="_blank"><span class="font-icon-social-github"></span></a></li>
                    <li><a href="https://twitter.com/aykutsimseks" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                    <li><a href="https://www.facebook.com/aykutsimseks" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                    <li><a href="https://www.linkedin.com/pub/aykut-simsek/38/b70/27" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                    <li><a href="mailto:aykutsimseks@gmail.com" title="Email Me" target="_blank"><span class="font-icon-email"></span></a></li>
                </ul>
            </nav>
		</div>
    </div>   
	
	<div class="control-nav">
		<!--
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        -->
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider"></a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#work">Work</a></li>
                <!-- <li><a href="#about">About Me</a></li> -->
                <!--  <li><a href="#contact">Contact</a></li> -->
				<!-- <li><a href="shortcodes.html" class="external">Shortcodes</a></li> -->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->
<script>

</script>
<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Work</h2>
                    <!--
                    <h3 class="title-description">...</h3>
                    -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Type of Work</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                        <li><a href="#filter" data-option-value=".maps">Maps</a></li>
                        <li><a href="#filter" data-option-value=".visualization">Visualization</a></li>
                        <li><a href="#filter" data-option-value=".data">Data</a></li>
                        <li><a href="#filter" data-option-value=".misc">Misc</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                    		<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 data misc">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='{% url 'moviero' %}' target='_blank'>Moviero</a>" href="{{ STATIC_URL }}img/work/full/moviero-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>Moviero</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="{{ STATIC_URL }}img/work/thumbs/moviero-thumb.jpg" alt="A tool for browsing and sorting recent movies.">
                            </li>
                        	<!-- End Item Project -->
                    	
                    		<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='{% url 'altug_firarda' %}' target='_blank'>Altug Firarda</a>" href="{{ STATIC_URL }}img/work/full/altug-firarda-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>Altug Firarda</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="{{ STATIC_URL }}img/work/thumbs/altug-firarda-thumb.jpg" alt="A visual diary of my brother's travels.">
                            </li>
                        	<!-- End Item Project -->
                    	
                    	
                        	<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='{% url 'world_bank_indicators' %}' target='_blank'>World Bank Indicators</a>" href="{{ STATIC_URL }}img/work/full/world-bank-indicators-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>World Bank Indicators</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="{{ STATIC_URL }}img/work/thumbs/world-bank-indicators-thumb.jpg" alt="Comparing World Bank Indicators">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='http://data.ci.newark.nj.us/base/maps/snowplows.html' target='_blank'>Newark Snow Plow Trucks</a>" href="{{ STATIC_URL }}img/work/full/newark-snowplows-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>Newark Snow Plow Trucks</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/work/thumbs/newark-snowplows-thumb.jpg" alt="A Day for Newark Snow Plow Trucks.">
                            </li>
                        	<!-- End Item Project -->
                            
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='http://nyc.pediacities.com/fsmaps/RoofPiano/' target='_blank'>Roof Piano</a>" href="{{ STATIC_URL }}img/work/full/roofpiano-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>Roof Piano</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/work/thumbs/roofpiano-thumb.jpg" alt="A Sonification & Visualization project, using NYC building footprint data.">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='http://nyc.pediacities.com/fsmaps/VisionZero/' target='_blank'>Vision Zero</a>" href="{{ STATIC_URL }}img/work/full/vision-zero-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>Vision Zero</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ STATIC_URL }}img/work/thumbs/vision-zero-thumb.jpg" alt="Visualizing Traffic-Related Fatalities in NYC.">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 maps">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='http://nyc.pediacities.com/fsmaps/NYCCrimeMap/' target='_blank'>NYC Crime Map</a>" href="{{ STATIC_URL }}img/work/full/nyc-crime-map-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>NYC Crime Map</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="{{ STATIC_URL }}img/work/thumbs/nyc-crime-map-thumb.jpg" alt="Explore crime rates in New York City based on geographies like neighborhoods, ZIP codes, boroughs, police precincts, community districts, or city council districts.">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 visualization">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="<a href='{% url 'aid_indicators' %}' target='_blank'>International Aid Indicators</a>" href="{{ STATIC_URL }}img/work/full/aid-indicators-full.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></br>International Aid Indicators</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                
                                <img src="{{ STATIC_URL }}img/work/thumbs/aid-indicators-thumb.jpg" alt="Comparing International Aid Amount with World Bank Indicators (needs fine tuning)">
                            </li>
                        	<!-- End Item Project -->
                        	
                        	
                        </ul>
                    </section>                   
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!--
    	<div class="span4">
    		<div style="height:300px;overflow:auto;">
        		<table style="height:0px;overflow:auto;">
               		<tr class="type-to-do">
               			<td colspan=3>What I'm up to</td>
               		</tr>
               		<tr>
        				<td></td>
        				<td><strike style='color:#DE5E60'><span style='color:#7F8289'>Las Vegas trip<span></strike></td>
        				<td class="todo-list-date">12.14&nbsp;</td>
        			</tr>
        			<tr>
        				<td>12.14&nbsp;</td>
        				<td>Build personal website</td>
        				<td class="todo-list-date"></td>
        			</tr>
        			<tr>
        				<td></td>
        				<td><strike style='color:#DE5E60'><span style='color:#7F8289'>Reading <a href="http://theleanstartup.com/">The Lean Startup</a></span></strike></td>
        				<td class="todo-list-date">12.14&nbsp;</td>
        			</tr>
        		</table>
        	</div>
        </div>
-->

<!-- End Twitter Feed -->

<!-- Socialize -->

<!-- End Socialize -->

<!-- Footer -->
<footer>
	<p class="credits" style='text-transform:none'>&copy;2015 Aykut Simsek <!-- <small><a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></small>--></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="{{ STATIC_URL }}js/jquery.2.1.1.min.js"></script> <!-- Jquery -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="{{ STATIC_URL }}js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="{{ STATIC_URL }}js/waypoints.js"></script> <!-- WayPoints -->
<script src="{{ STATIC_URL }}js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="{{ STATIC_URL }}js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="{{ STATIC_URL }}js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="{{ STATIC_URL }}js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="{{ STATIC_URL }}js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{{ STATIC_URL }}js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>