<!DOCTYPE html>
<html lang="en-US">
	<!--<![endif]-->
	<head>
		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>About</title>
		<!-- <title>Life of Me</title> -->
		<!-- <title>About | Aykut Simsek</title> -->
		<meta name="description" content="Insert Your Site Description" />
		<!-- Mobile Specifics -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<!-- Mobile Internet Explorer ClearType Technology -->
		<!--[if IEMobile]>  
		<meta http-equiv="cleartype" content="on">
		<![endif]-->
		<!-- Bootstrap  -->
		<link href="../_include/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Main Style -->
		<link href="../_include/css/main.css" rel="stylesheet">
		<!-- Supersized -->
		<link href="../_include/css/supersized.css" rel="stylesheet">
		<link href="../_include/css/supersized.shutter.css" rel="stylesheet">
		<!-- FancyBox -->
		<link href="../_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">
		<!-- Font Icons -->
		<link href="../_include/css/fonts.css" rel="stylesheet">
		<!-- Shortcodes -->
		<link href="../_include/css/shortcodes.css" rel="stylesheet">
	
		<!-- Responsive -->
		<link href="../_include/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../_include/css/responsive.css" rel="stylesheet">
		
		<!-- Supersized -->
		<link href="../_include/css/supersized.css" rel="stylesheet">
		<link href="../_include/css/supersized.shutter.css" rel="stylesheet">
		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
		<!-- Fav Icon -->
		<link rel="shortcut icon" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="144x144" href="#">
		<style type="text/css">
			#line{
				position: fixed;
				bottom: 100px;
				width: 100%;
			}
			path {
				stroke-width: 4px;
			}
			.circle {
				fill: #DE5E60;
				opacity: 0
			}
			/*
			.circle:hover {
			opacity: 1;
			fill: #aaa;
			}
			*/
			.image {
			}
			
			.ttext {
				color: #FFFFFF;
				font-family: 'Titillium Web', sans-serif;
			}
			
		</style>
		<!-- Modernizr -->
		<script src="../_include/js/modernizr.js"></script>
		
		<!-- Analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'Insert Your Code']);
			_gaq.push(['_trackPageview']);
			
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
		</script>
		<!-- End Analytics -->
		
		<!-- Scripts -->
		<!--[if IE 6]>
		<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
		<script>
			/* EXAMPLE */
			DD_belatedPNG.fix('.button');
			
			/* string argument can be any CSS selector */
			/* .png_bg example is unnecessary */
			/* change it to what suits you! */
		</script>
		<![endif]-->
		<!-- Js -->
		<script src="../_include/js/jquery.2.1.1.min.js"></script>
		<script src="../_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
		<script src="../_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
		<script src="../_include/js/waypoints.js"></script> <!-- WayPoints -->
		<script src="../_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
		<script src="../_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
		<script src="../_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
		<script src="../_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
		<script src="../_include/js/jquery.tweet.js"></script> <!-- Tweet -->
		<script src="../_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
		<!-- End Js -->
		<script src="../_include/js/d3.3.5.2.min.js"></script>
	</head>
	<body>
		<div id="profiles">
			<div id="profiles-1" class="span12 profile" style="margin-top:40px;margin-left:0;" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/born.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf1</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-2" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/mit_2009.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf2<img src="../_include/img/about/logo/mit_csail_logo.png" alt="Jane Helf" style="height:3em"></h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-3" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/logo/tubitak-sage-logo2.png" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf3</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-4" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/rug.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf4</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-5" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/mit_2009.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf5</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-6" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/mit_2009.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf6</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-7" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/grad_metu.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf7</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-8" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/new_york.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf8</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-9" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/grad_poly.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf9</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-10" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/mit_2009.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        	<div id="profiles-11" class="span12 profile" style="margin-top:40px;margin-left:0;display:none" >
        		<div class="span4 image-wrap" style="margin-right: 20px;">
                	<div class="hover-wrap"> 
                   		<span class="overlay-img"></span>
                    	<span class="overlay-text-thumb">Creative Director</span>
                	</div>
                	<img src="../_include/img/about/mit_2009.jpg" alt="Jane Helf">
            	</div>
           		<h3 class="profile-name">Jane Helf</h3>
            	<p class="profile-description">
             		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
           	 		Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
           	 	</p>
        	</div>
        </div>
		<div id="line" class="grid_12 clearfix" style=""></div>
	</body>
	<script type="text/javascript">
		var margin = 50;
		var w = $(window).width()-margin;
		var h = 300;
		//var transition_duration = 20000;
		var transition_duration = 2000;
		
		var svg = d3.select("#line")
		     			.append("svg")
		     			.attr("width", w)
		     			.attr("height", h)
		     			.style("padding-left",margin+"px")
		     			.style("margin-right", -margin+ "px")
		
		var today = new Date();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();	
			
		var data = [
		   		{'color':'#2F3238','date':'07.2008', 'id':'1', 'image': "" ,'text':['Born'],'text-offset': 0,'d':[]},
		   		{'color':'#2F3238','date':'07.2009', 'id':'2', 'image': "" ,'text':['Intern','at MIT-CSAIL'],'text-offset': -110,'d':[]},
		   		{'color':'#DE5E60','date':'07.2010', 'id':'3', 'image': "" ,'text':['Intern','at Tubitak-SAGE'],'text-offset': 0,'d':[]},	   		
		   		{'color':'#DE5E60','date':'12.2010', 'id':'4', 'image': "" ,'text':['Exchange','in RUG'],'text-offset': -110,'d':[]},
		   		{'color':'#DE5E60','date':'03.2011', 'id':'5', 'image': "" ,'text':['Worked', 'at Mobilus'],'text-offset': 0,'d':[]},
		   		{'color':'#DE5E60','date':'07.2011', 'id':'6', 'image': "" ,'text':['Intern','at MIT-CSAIL'],'text-offset': -110,'d':[]},
		   		{'color':'#DE5E60','date':'05.2012', 'id':'7', 'image': "" ,'text':['Graduated', 'from METU'],'text-offset': 0,'d':[]},
		   		{'color':'#DE5E60','date':'08.2012', 'id':'8', 'image': "" ,'text':['Moved','to New York'],'text-offset': -110,'d':[]},
		   		{'color':'#DE5E60','date':'02.2013', 'id':'9', 'image': "" ,'text':['Started working','at Ontodia'],'text-offset': 0,'d':[]},
		   		{'color':'#DE5E60','date':'05.2014', 'id':'10', 'image': "" ,'text':['Graduated','from NYU-Poly'],'text-offset': -110,'d':[]},
		   		{'color':'#DE5E60','date': mm + '.' + yyyy, 'id':'11', 'image': "" ,'text':['Now',mm+"."+yyyy],'text-offset': 0,'d':[]},  
		]
		
		var year_marks = [
			{'date':'01.1989'},
			{'date':'01.2010'},
			{'date':'01.2011'},
			{'date':'01.2012'},
			{'date':'01.2013'},
			{'date':'01.2014'},				
		]
		   
		function dateToInt(d) {	
			m = parseInt(d["date"].split(".")[0])
			y = parseInt(d["date"].split(".")[1])
			d["dateInt"] = m+12*y
			d["d"] = Array.apply(null, new Array(d["dateInt"]-data[0]["dateInt"]+1)).map(Number.prototype.valueOf,80);
		}
		
		data.forEach(function(single_path) {
		   	dateToInt(single_path)
		});
		   
		var x = d3.scale.linear().domain([0, data[data.length-1]['d'].length]).range([0, w-40]);  			
		var y = d3.scale.linear().domain([-h/2,h/2 ]).range([0, h]);
		   
		var line = d3.svg.line()
			.interpolate("basis")
		    .x(function(d,i) {return x(i);})
		    .y(function(d) {return y(d);})
		
			
		var selected_parent = null;
		var selected_id = 1;
		data.reverse();
		data.forEach(function(single_path) {
			drawSinglePath(single_path);
		});
		
		
		// Dashed path from born to first event
		var born_path = svg.append("path")
		   	  		.attr("d", line(data[data.length-2]["d"]))   	  		
		     		.attr("fill", "none")  		
		 			.attr("stroke", "#DE5E60") 			
		     		.style("stroke-dasharray", ("5, 5"))
		     		.style("opacity",0)
		 			.transition()
		 			.delay((transition_duration)/10)
		 			.style("opacity",1)
		 			.duration(500)
		curr_total_length = born_path.node().getTotalLength();
		last_point = born_path.node().getPointAtLength(curr_total_length)
		var g = svg.append('g')
					.attr("transform","translate(" + last_point.x/2 + "," + last_point.y + ")")
					
		g.append("text")   	
		 					.attr("transform","translate(0,16)")	
		   					// I believe w/h are required, though the size is arbitrary
		  				 	.attr("width", 280)
		   			 		.attr("height", 40)
		   			 		.attr("text-anchor","middle")
		   			 		.attr("class","ttext")
		   			 		.style("font-size","12px")
		   			 		.style("fill","#DE5E60")
		     			 	.text("Fun Times!")		 
		     			 	.style("opacity",0)	
		     			 	.transition()
		 				 	.delay((transition_duration-200)*(curr_total_length/transition_duration))
		 					.duration(500) 
		     			 	.style("opacity",.6)
		//

		function drawSinglePath(single_path) 
		{
		    var path = svg.append("path")
		   	  		.attr("d", line(single_path['d']))
		     		.attr("stroke", single_path['color'])
		     		.attr("fill", "none")
		     		.transition();
		
		   	//var totalLength =  transition_duration/10;	
		   	var totalLength = transition_duration	
			curr_total_length = path.node().getTotalLength();
		    last_point = path.node().getPointAtLength(curr_total_length)
		
			function addCircle(){
				var g = svg.append('g')
					.attr("transform","translate(" + last_point.x + "," + last_point.y + ")")
					
		 		circle = g.append("circle")
		 					.on("mouseover", function(d){ 
		 						mouseoverEvent(single_path["id"],this)
		 					})
		   					.attr('class','circle')
		   					.attr("r", 0)	  
		   					.style("cursor","pointer")
		   			    	.style("opacity",1)  		
							.transition()
							.style("opacity",1)
		       				.style("z-index",2)
		       				
		 					.attr("r",15)
		 					.delay((transition_duration-300)*(curr_total_length/totalLength))
		 					.duration(500) // this is 1s
		 		off = 0;
		 		single_path["text"].forEach(function(txt) {
					text = g.append("text")   	
		 					.attr("transform","translate(0,"+ (50 + off + single_path["text-offset"]) + ")")
		 					.on("mouseover", function(d){ 
		 						mouseoverEvent(single_path["id"],this)
		 					})		
		   					// I believe w/h are required, though the size is arbitrary
		  				 	.attr("width", 280)
		   			 		.attr("height", 40)
		   			 		.style("cursor","pointer")
		   			 		.attr("text-anchor","middle")
		   			 		.attr("class","ttext")
		   			 		.style("fill","white")
		     			 	.text(txt)		 
		     			 	.style("opacity",0)	
		     			 	.transition()
		 				 	.delay((transition_duration-200)*(curr_total_length/totalLength))
		 					.duration(500) 
		     			 	.style("opacity",1)
		     			 	/*
		     			 	.transition() 
		     			 	.duration(transition_duration*2) 
		     			 	.style("opacity",0)	
		 					*/
		 			off += 20;
				});
				
				function mouseoverEvent(id, elem) {
		 			if(selected_parent != elem.parentNode) {
		 				$('#profiles-'+ selected_id).hide()
		 				$('#profiles-'+ id).show()		 				
		 				selected_id = id
		 				d3.select(elem.parentNode).select('circle').transition().duration(200).attr({r:30})
		 				d3.select(elem.parentNode).selectAll('text').style("fill","#DE5E60")
		  				d3.select(selected_parent).select('circle').transition().duration(200).attr({r:15})
		  				d3.select(selected_parent).selectAll('text').style("fill",'white')  				
		 				selected_parent = elem.parentNode
		  			}
				}
		 		
			};
			
			path
		     	.attr("stroke-dasharray", totalLength + " " + totalLength)
		     	.attr("stroke-dashoffset", totalLength)
		     	.transition()
		     	.duration(transition_duration)
		       	.ease("linear")
		       	.style("z-index",1)
		       	.attr("stroke-dashoffset", 0)
		       	.each(addCircle)
		}
		
		
		
		/*
		   svg.on("click", function(){
		     		path      
		       		.transition()
		       		.duration(2000)
		       		.ease("linear")
		       		.attr("stroke-dashoffset", totalLength);
		   })
		*/
		
		/*
		
		   var h = 580;
		   var w = 980;
		
		var transition_duration = 2000;
		
		   var svg = d3.select("#line")
		     			.append("svg")
		     			.attr("width", w)
		     			.attr("height", h)
		     			.style("margin-top","-50px")
		     			.style("margin-bottom","-50px")
		   			
		   var data_a = [
		   		  		{ "color":"#cccccc" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,100,100,100,100,100,100,100,4,4], "image": "" ,"text":"InfoVis.guru"},
		   		  		{ "color":"#28A0FF" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,100,100,100,100,100,100,100,100,100], "image": "" ,"text":""},
		   		  		{ "color":"#6B008F" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,100,100,100,100,100], "image": "{% static 'images/ontodia.png' %}" ,"text":"Software Engineer at Ontodia"},
		   		  		{ "color":"#6B008F" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,100,100,100,100,150,150,150],  "image": "{% static 'images/nyu.png' %}" ,"text":"Graduated from New York University, Polytechnic School of Engineering (M.Sc.)"},
		   		  		{ "color":"#d3a21a" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,100,100,100] ,  "image": "{% static 'images/new_york.png' %}" ,"text":"Moved to New York, NY"},
		   		  		{ "color":"#d3a21a" , "data":[4,4,4,4,4,4,4,100,150],  "image": "" ,"text":""},
		   		  		{ "color":"#d3a21a" , "data":[4,4,4,4,4,4,4,4,100,100,150],  "image": "" ,"text":""},
		   		  		{ "color":"#d3a21a" , "data":[4,4,4,4,4,4,4,4,100,100,100,100,50] ,  },
		   		  		{ "color":"#B20000" , "data":[4,4,4,4,4,4,4] , "image": "{% static 'images/metu.png' %}" ,"text":"Graduated from Middle East Technical University (B.Sc.)"},
		   		  		{ "color":"#B20000" , "data":[4,4,4,4,4] , "image": "" ,"text":"Roommates for 3 years" },
		   		  		{ "color":"#8F006B" , "data":[4,4,4] ,  "image": "{% static 'images/ayzofl.png' %}" ,"text":"Graduated from Antalya  Science High School"},
		   		  		{ "color":"#FFA347" , "data":[4] ,  "image": "{% static 'images/antalya.png' %}" ,"text":"Born in Antalya, Turkey"},
		   			 ]
		   			 
		   var data_s = [
		   		  		{ "color":"#cccccc" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-4,-4], "image": "" ,"text":"InfoVis.guru"},
		   		  		{ "color":"#B20000" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100,-100], "image": "" ,"text":""},
		   		  		{ "color":"#d3a21a" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100,-100,-100,-100,-100], "image": "{% static 'images/upf.png' %}" ,"text":"PhD Candidate at Universitat Pompeu Fabra"},
		   		  		{ "color":"#d3a21a" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100,-100,-100,-100,-150,-150,-150],  "image": "" ,"text":""},
		   		  		{ "color":"#d3a21a" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100,-100,-100] ,  "image": "{% static 'images/barcelona.png' %}" ,"text":"Moved to Barcelona, Spain"},
		   		  		{ "color":"#d3a21a" , "data":[-4,-4,-4,-4,-4,-4,-4,-100,-150],  "image": "" ,"text":""},
		   		  		{ "color":"#d3a21a" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-150],  "image": "" ,"text":""},
		   		  		{ "color":"#00248F" , "data":[-4,-4,-4,-4,-4,-4,-4,-4,-100,-100,-100,-100,-100] ,  "image": "{% static 'images/sabanci.png' %}" ,"text":"Graduated from Sabanci University (M.Sc.)" },
		   		  		{ "color":"#B20000" , "data":[-4,-4,-4,-4,-4,-4,-4] , "image": "{% static 'images/metu.png' %}" ,"text":"Graduated from Middle East Technical University (B.Sc.)"},
		   		  		{ "color":"#B20000" , "data":[-4,-4,-4,-4,-4,-4] , "image": "" ,"text":"Roommates for 3 years" },
		   		  		{ "color":"#8F006B" , "data":[-4,-4,-4] ,  "image": "{% static 'images/ayzofl.png' %}" ,"text":"Graduated from Antalya  Science High School"},
		   		  		{ "color":"#FFA347" , "data":[-4] ,  "image": "{% static 'images/antalya.png' %}" ,"text":"Born in Antalya, Turkey"},
		   			 ]
		   			
		   var y = d3.scale.linear()
		   			.domain([-3, 22])
		   			.range([h, 0]);
		   			
		   var x = d3.scale.linear()
		   				.domain([-w/2,w/2 ])
		   				.range([w, 0]);
		
		   var line = d3.svg.line()
		     .interpolate("basis")
		     .x(function(d) { return x(d[1]); })
		     .y(function(d) { return y(d[0]); });
		   
		   data_a.forEach(function(s) {
		   	//alert(s.data[s.data.length-1])
		   	drawSinglePath(s);
		});
		  
		   g.append("line")
		   	.attr("x1", (w/2 + 200 ))
		   	.attr("y1", 69)
		   	.attr("x2", (w/2 + 200 + 175))
		   	.attr("y2", 69)
		   	.style("stroke", "rgb(0,0,0)")   	
		   	.style("stroke-width", .8)
		   	.style("stroke-dasharray", ("3, 3"))
		   	.style("stroke-opacity", .6);
		
			
		function drawSinglePath(s) 
		{
		
			d = s.data.map(function(v,i) {return [i, v];});
			
			var path = svg.append("path")
		     			.attr("d", line(d))
		     			.attr("stroke", s.color)
		     			.attr("stroke-width", "2")
		     			.attr("fill", "none")
		
		   	var totalLength = 1000;
		   	//path.node().getTotalLength();alert(totalLength);
			
			curr_total_length = path.node().getTotalLength();
		    	last_point = path.node().getPointAtLength(curr_total_length)
		    	last_x = s.data[s.data.length - 1];
			if(last_x >= -10 && last_x < 10)
			{
				last_point.x = w/2;
			}
			
			
			function addCircle(){
				// Eliminate duplicate drawing of shared points
				if(last_x > 0  && last_x < 10)
		   		{
		   			return
		   		}
		   	
				var g = svg.append('g')
							.attr("transform","translate(" + last_point.x + "," + last_point.y + ")")
				if(s.image) {
		 				g.append("circle")
		   						.attr('class','circle')
		   						.attr("r",20)
		   			    		//.attr("r", 0)	  
		   			    		.style("opacity",0)  		
								.transition()
								.style("opacity",1)
		 							//.attr("r",20)
		 							.delay((transition_duration-300)*(curr_total_length/totalLength))
		 							.duration(0) // this is 1s
		 			}			
		 			
		 			g.append("image")
		 					.attr("transform","translate(" + -20 + "," + -20 + ")")
		     				.attr("xlink:href", s.image)
		     				.attr("width", 40)
		     				.attr("height", 40)
		     				.style("opacity",0)
		     				.style("radius", "20px")
		     				.style("pointer-events","none")
		     				.transition()
		 					.delay((transition_duration-1000)*(curr_total_length/totalLength))
		 					.duration(2000) // this is 1s
		     				.style("opacity",1)
		     				
		     		if(last_point.x >= w/2 )
		     		{
		     			
		     			g.append("text")   				
		     			 	.attr("transform","translate(" + (-last_point.x + w/2 + 200) + "," + 0 + ")")
		   				// I believe w/h are required, though the size is arbitrary
		  				 	.attr("width", 280)
		   			 	.attr("height", 40)
		   			 	.attr("class","ttext")
		 				 	//.append("xhtml:text")
		     			 	.text(s.text)		 
		     			 	.style("opacity",0)	
		     			 	.transition()
		 				 	.delay((transition_duration-1000)*(curr_total_length/totalLength))
		 				 	.duration(2000) // this is 1s
		     			 	.style("opacity",1)	      			 
		     		}
		     		if(last_point.x <= w/2)
		     		{      			
		     			
		     			g.append("text")   				
		     			 	.attr("transform","translate(" + (-last_point.x + 280 + 10) + "," + 0 + ")")
		   				// I believe w/h are required, though the size is arbitrary
		  				 	.attr("width", 280)
		   			 	.attr("height", 40)
		   			 	.attr("class","ttext")
		   			 	      			 	.style("text-anchor","end")
		 				 	//.append("xhtml:text")
		     			 	.text(s.text)
		     			 	.style("opacity",0)	
		     			 	.transition()
		 				 	.delay((transition_duration-1000)*(curr_total_length/totalLength))
		 				 	.duration(2000) // this is 1s
		     			 	.style("opacity",1)	
		     			 
		     		}
		     		
		     		
			};
			
		   	path
		     		.attr("stroke-dasharray", totalLength + " " + totalLength)
		     		.attr("stroke-dashoffset", totalLength)
		     		.transition()
		     		.duration(transition_duration)
		       	.ease("linear")
		       	.attr("stroke-dashoffset", 0)
		       	.each(addCircle)
		   }
		   */
		 
	</script>
</body>
</html>